Know about ipv6 multicast

See https://superuser.com/questions/809679/what-is-the-mac-address-of-multicast-ipv6

6

Ethernet has "multicast" MAC addresses as well – any MAC address with the "group" bit set is technically a multicast address; IPv6 uses the prefix 33:33:*, while IPv4 uses 01:00:5e:*. There are other widely-used prefixes, see this Wikipedia table for details.

For IPv6 multicast addresses, the last 32 bits of the IPv6 address are OR'd with 33:33:00:00:00:00. For example:

    The "all nodes" address ff02::1 is converted to 33:33:00:00:00:01.

    Neighbour solicitations for an example address fe80::4a5d:60ff:fee8:658f are sent to the corresponding Solicited-Node multicast address ff02::1:ffe8:658f, which is converted to Ethernet address 33:33:ff:e8:65:8f.

This is described in RFC 2624 section 7.
